<!DOCTYPE html>
<!--[if IE 9]> 				 <html class="no-js lt-ie10" lang="en" > <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SpreadTruth.com | Blog</title>

  <meta name="description" content="Resources, Training and Experiences designed to equip the local Church">
  <meta name="keywords" content="Spread Truth, SpreadTruth, SpreadTruth.com, Gospel, Discipleship, The Story, The Story Booklet, The Story Bible, NYC, NYC Ministries, Jerry McCorkle, Josh Jeffrey, Crossway Story ESV Bible, Missions Trip, New York City Mission, Free Camps, Church Training, Evangelism Training">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
  <link rel="stylesheet" href="http://www.spreadtruth.com/css/app.css">

  {{! Styles'n'Scripts }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/rrssb.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Oswald:300,400" />

  
  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body class="{{body_class}}" data-current-page="blog">

<div class="off-canvas-wrap">
  <div class="inner-wrap">

  {{> offcanvasnav}}
    <!-- page content -->

        <header id="blog-header" class="heronav-container sub-header header-blog" {{#if @blog.cover}} class="has-background-image" style="background-image: url('{{@blog.cover}}');"{{/if}}>

                <div class="top-nav">

                      <div class="logo-img">
              <a href="http://www.spreadtruth.com">
                <img src="http://www.spreadtruth.com/img/st-white.png" alt="spreadtruth logo"/>
              </a>
            </div>
                    
            <nav>
              <a href="http://www.spreadtruth.com/resources">RESOURCES</a>
              <a href="http://www.spreadtruth.com/training">TRAINING</a>
              <a href="http://www.spreadtruth.com/experiences">TRIPS</a>
              <a href="http://blog.spreadtruth.com">BLOG</a>
              <a href="https://go.spreadtruth.com/give">GIVE</a>
              <a class="sm right-off-canvas-toggle" href="#" id="menu-btn">MENU <img src="http://www.spreadtruth.com/img/menu-lg.png" alt="menu" /></a>
            </nav>

      </div><!-- END TOP NAV -->
          
            <div class="hero">

              <div class="vert-center">

                <div class="hero-header row">
                  <div class="columns small-centered large-10">
                    <h1 class="subheader-fittext massive">BLOG</h1>
                  </div>
                </div>

                <div class="hero-subheader">
                  <p class="lead">
                    Writings about the <strong>mission of Jesus</strong>                  
                  </p>
                </div>

              </div>

            </div>
          
            
        </header>  


    <section id="main-selection" class="main-section resource-selection">
      <div class="row">

        <div class="columns large-12">
          {{{body}}}
        </div>

      </div>
    </section>


    <footer>


      <div class="main-section colored footer-contact">
        
        <div class="row">
          <div class="columns large-11 large-centered">
            <div class="row">
              <div class="columns large-12 text-center">
                <h6>KEEP IN TOUCH. WE WOULD LOVE TO HEAR FROM YOU.</h6>
              </div>
              <div class="columns medium-10 large-7 small-centered medium-center large-uncentered">
                <form id="newsletter" class="newsletter">
                  <input class="small-center" type="email" name="email" placeholder="Your email address" required /><button id="subscribe-btn" class="btn btn-dark">SIGN UP</button>
                  <div class="newsletter-checkboxes">
                    <div class="newsletter-checkboxes-form-group">
                      <div class="squaredThree">
                        <input type="checkbox" value="None" id="blog-updates" name="blog" checked />
                        <label for="blog-updates"></label>
                      </div>
                      <span style="margin-left: 0.5em;">Blog</span>
                    </div>
                    <div class="newsletter-checkboxes-form-group">
                      <div class="squaredThree">
                        <input type="checkbox" value="None" id="st-updates" name="updates" checked />
                        <label for="st-updates"></label>
                      </div>
                      <span style="margin-left: 0.5em;">Updates</span>
                    </div>
                  </div>
                </form>
              </div>
              <div class="columns medium-10 large-5 small-centered medium-center large-uncentered">
                <ul class="social-icons">
                  <li><a href="https://twitter.com/spread_truth" target="_blank"><span class="icon icons-twitter"></span></a></li>
                  <li><a href="https://www.facebook.com/SpreadTruthPage" target="_blank"><span class="icon icons-facebook"></span></a></li>
                  <li><a href="http://instagram.com/lifemystory" target="_blank"><span class="icon icons-instagram"></span></a></li>
                  <li><a href="https://vimeo.com/spreadtruth" target="_blank"><span class="icon icons-vimeo"></span></a></li>
                  <li><a href="javascript:;" data-e="support" class="btn-contact"><span class="icon icons-envelop"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="main-section">
        <div class="row">
          <div class="columns small-centered small-6 medium-4 large-4">
            <img src="http://www.spreadtruth.com/img/svg/stlogo.svg" alt="" style="width: 100%;">
          </div>
          <div class="columns small-centered small-12 text-center">
             <ul class="meta-info">
              <li>Say hello, (309) 452-3213.</li>
              <li>Swing by, 306 N Main St, Bloomington, Illinois.</li>
              <li>Send a note above.</li>
              <li>&copy; 2014</li>
            </ul>
          </div>
        </div>
      </div>

      

    </footer>

    <a class="exit-off-canvas"></a>
    
  </div> <!--end inner-wrap div-->

</div> <!--end off-canvas-wrap div -->

  <!--  jQuery CDN load -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}
  <script type="text/javascript" rel="javascript" src="{{asset "js/moment.min.js"}}"></script>
  <script type="text/javascript" rel="javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
  <script type="text/javascript" rel="javascript" src="{{asset "js/jquery.reading-time.min.js"}}"></script>
  <script type="text/javascript" rel="javascript" src="{{asset "js/rrssb.min.js"}}"></script>

  <script async type="text/javascript" rel="javascript" src="{{asset "js/main.js"}}"></script>

  <!-- Load Libraries -->
  <script type="text/javascript">var maxFont = "110px";</script>
  <script src="http://www.spreadtruth.com/js/main.min.js?v1.3" type="text/javascript"></script>

  <script>
    Foundation.set_namespace = function() {};
    $(document).foundation();
  </script>

</body>
</html>